<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/favicon.png">
    <link rel="stylesheet" href="/css/community-list/community-posts.css">
    <link rel="stylesheet" href="/css/main-page/header.css">
    <link rel="stylesheet" href="/css/main-page/header2.css">
    <link rel="stylesheet" href="/font/didactgothic.woff2">
    <title>커뮤니티 목록</title>
</head>
<body class="soomgo-life-topic">
<div id="app" data-browser="Chrome" data-is-loaded="true">
    <th:block th:if="${session.member != null || session.counselor != null}">
        <header th:replace="~{main-page/header2 :: #app-header}"></header>
    </th:block>
    <th:block th:unless="${session.member !=null || session.counselor != null}">
        <header th:replace="~{main-page/header :: #app-header}"></header>
    </th:block>
    <div id="top"></div>
    <!-- body -->
    <div id="app-body">
        <div class="community-container container">
            <div class="soomgo-life-container">
                <section class="community">
                    <div class="observer-container">
                        <!-- 커뮤니티 헤더 -->
                        <section class="community-header">
                            <h1 class="community-title">커뮤니티</h1>
                            <!-- 우측 글쓰기 버튼 -->
                            <div class="write-button-desktop">
                                <div class="dropdown b-dropdown btn-group">
                                    <button class="btn dropdown-toggle btn-primary" onclick="window.location.href='/community-list/failure-write'">
                                        글쓰기
                                    </button>
                                </div>
                            </div>
                        </section>
                        <!-- 숨고생활/고수센터 -->
                        <ul class="category">
                            <li class="prisma-typography body14:semibold lg:headline16 primary selected">
                                <a class="link-text router-link-active">
                                    실패 경험담
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="community-layout">
                        <div class="community-content-layout" style="margin-left: 185px; margin-right: 185px;">
                            <!-- 공지 -->
                            <div class="community-notice-slick slick-slider slick-initialized">
                                <div class="slick-list">
                                    <div class="slick-track slick-cloned">
                                        <div class="slick-slide slick-cloned" style="outline: none; width: 632px;">
                                            <div class="community-notice-wrapper" style="display: inline-block;">
                                                <a th:href="@{/customer-center/notice-list/1}">
                                                    <span class="notice-title">공지</span>
                                                    <span class="notice-text">리바운드 생활 가이드라인 🤝</span>
                                                    <span class="sg-icon-v1" style="width: 1rem; height: 1rem; --svg-color: #293341;"></span>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="slick-slide slick-cloned" style="outline: none; width: 632px;">
                                            <div class="community-notice-wrapper" style ="display: inline-block;">
                                                <a th:href="@{/customer-center/notice-list/1}">
                                                    <span class="notice-title">공지</span>
                                                    <span class="notice-text">사진과 감사 메시지를 더해, 리뷰 쓰기 더 쉬워졌어요!</span>
                                                    <span class="sg-icon-v1" style="width: 1rem; height: 1rem; --svg-color: #293341;"></span>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="slick-slide slick-cloned" style="outline: none; width: 632px;">
                                            <div class="community-notice-wrapper" style="display: inline-block;">
                                                <a th:href="@{/customer-center/notice-list/1}">
                                                    <span class="notice-title">공지</span>
                                                    <span class="notice-text">리바운드 생활 가이드라인 🤝</span>
                                                    <span class="sg-icon-v1" style="width: 1rem; height: 1rem; --svg-color: #293341;"></span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <section class="curation">
                                <div class="curation-header">
                                    <h2 class="prisma-typography headline18 primary">
                                        가장 많이 본 게시글
                                    </h2>
                                    <span class="curation-page">1/3</span>
                                </div>
                                <div class="slick-slider">
                                    <!-- 가장 많이 본 게시글 이전 버튼 -->
                                    <button type="button" data-role="none" class="slick-arrow slick-prev" style="display:block;">Previous</button>
                                    <div class="slick-total">
                                        <div class="slick-total02">
                                            <div class="slick-list slick-pick">
                                                <div class="slick-slide" th:each="post : ${postsByViews}">
                                                    <a th:href="@{/community-list/{id}(id=${post.id})}">
                                                        <div class="curation-item">
                                                            <h3 class="prisma-typography headline16 primary" th:text="${post.postTitle}">
                                                                제목
                                                            </h3>
                                                            <div class="react-items">
                                                                <p class="view prisma-typography body12:regular primary" th:text="${post.postReadCount}">
                                                                    조회 수
                                                                </p>
                                                                <p class="comment prisma-typography body12:regular primary" th:text="${post.commentCount}">
                                                                    댓글 수
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- 가장 많이 본 게시글 다음 버튼 -->
                                    <button type="button" data-role="none" class="slick-arrow slick-next" style="display:block;">Next</button>
                                </div>
                            </section>
                            <article class="community-feed-list">
                                <ul class="feed-list" id="post-container">
                                    <!-- 게시글 리스트 부분 -->
                                </ul>
                                <div id="loading" style="display:none; text-align:center; margin:20px;">
                                    <span>Loading...</span>
                                </div>
                            </article>
                        </div>
                    </div>
                    <button id="top-btn" class="top-btn" aria-label="위로 가기 버튼">
                        <img src="data:image/svg+xml,%3csvg%20xmlns='http://www.w3.org/2000/svg'%20width='24'%20height='24'%20viewBox='0%200%2024%2024'%3e%3cg%20fill='none'%20fill-rule='evenodd'%3e%3cg%3e%3cg%3e%3cg%3e%3cpath%20d='M0%200H24V24H0z'%20transform='translate(-323.000000,%20-680.000000)%20translate(311.000000,%20668.000000)%20translate(12.000000,%2012.000000)'/%3e%3cg%20stroke='%23B5B5B5'%20stroke-linecap='round'%20stroke-width='1.5'%3e%3cpath%20d='M7%200L7%2015'%20transform='translate(-323.000000,%20-680.000000)%20translate(311.000000,%20668.000000)%20translate(12.000000,%2012.000000)%20translate(5.000000,%204.500000)'/%3e%3cpath%20stroke-linejoin='round'%20d='M0%207L7%200%2014%207'%20transform='translate(-323.000000,%20-680.000000)%20translate(311.000000,%20668.000000)%20translate(12.000000,%2012.000000)%20translate(5.000000,%204.500000)'/%3e%3c/g%3e%3c/g%3e%3c/g%3e%3c/g%3e%3c/g%3e%3c/svg%3e" alt="위로 가기">
                    </button>
                </section>
            </div>
        </div>
        <footer th:replace="~{main-page/footer}"></footer>
    </div>
</div>
</body>
<script th:inline="javascript">
    const commentAlarms = [[${commentAlarms}]];
    const comment = [[${comment}]];
</script>
<script src="/js/community-list/community-posts/module/layout.js"></script>
<script src="/js/community-list/community-posts/module/service.js"></script>
<script src="/js/community-list/community-posts/event.js"></script>
<script src="/js/main-page/header2.js"></script>
</html>